.vscode
docs/mal-samples/
pyserve/__pycache__/
pyserve/uploadedfiles/
pyserve/app.py.save
pyserve/venv/
pyserve/phishml/pretrained_models/document-frequency-dictionary.npy
pyserve/templates/components/
client/package-lock.json
client/node_modules/
client/.cache/
client/.env
