astroid
certifi
cffi
chardet
click
colorclass
cryptography
easygui
eml-parser
Flask
Flask-Cors
idna
ipaddress
isort
itsdangerous
Jinja2
joblib
langdetect
lazy-object-proxy
lxml
mail-parser
MarkupSafe
mccabe
msoffcrypto-tool
numpy
olefile
oletools
pandas
pbr
pcodedmp
Pillow
pycparser
pylint
pyparsing
python-dateutil
python-docx
pytz
requests
scikit-learn
scipy
simplejson
six
tokenizers
typed-ast
urllib3
Werkzeug
wrapt
uwsgi
