<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DocParse</title>

    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />

    <!-- Vue JS Production-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- Vue JS Dev-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">

            <!--Upload Section-->
            <section class="section">
                <h1 class="title is-1">DocParse</h1>
                <h2 class="subtitle">Scan files for IOCs &amp; malicious indicators - currently supports DOC, DOCX, EML
                </h2>
                <div class="field is-horizontal">
                    <div class="file has-name is-info">
                        <label class="file-label">
                            <input class="file-input" type="file" ref="file" v-on:change="handleFileUpload()">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Browse File...
                                </span>
                            </span>
                            <span class="file-name" v-if="selectorFileName">${ selectorFileName }</span>
                            <span class="file-name" v-else>No file selected</span>
                        </label>
                    </div>
                    <button class="button" v-on:click="submitFile()">Upload</button>
                </div>
            </section>

            <!--Output Section-->
            <section class="section" v-if="primaryFileData">
                <div class="content">
                    <h4 class="subtitle is-4">File Details</h4>
                    <table class="table" id="genericTable">
                        <tbody>
                            <tr>
                                <td><label class="label">Name</label></td>
                                <td>${ primaryFileData.file_name }</td>
                            </tr>
                            <tr>
                                <td><label class="label">File Type</label></td>
                                <td>${ primaryFileData.file_type }</td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>

                    <!---Email Data-->
                    <div class=content v-if="primaryFileData.file_type === 'eml'">
                        <div class="field">
                            <label class="label">URLs from Email Body</label>
                            <ul>
                                <li v-for="url in primaryFileData.body_urls">
                                    ${ url }
                                </li>
                            </ul>
                        </div>
                        <div v-if="primaryFileData.headers">
                            <button class="button is-info is-outline" v-on:click="emlHeadToggle = true">Headers</button>
                            <div class="modal" :class="{ 'is-active': emlHeadToggle }">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Email Header</p>
                                    <button class="delete" aria-label="close"></button>
                                </header>
                                <section class="modal-card-body">
                                    <table class="table">
                                        <tbody>
                                            <tr v-for="(headerValue, headerKey) in primaryFileData.headers">
                                                <td>${ headerKey } : </td>
                                                <td>${ headerValue[0] }</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button is-success" v-on:click="emlHeadToggle = false">Done</button>
                                </footer>
                                </div>
                            </div>
                        </div>
                        <div class="field" v-if="primaryFileData.attachments">
                            <label class="label">Attachments</label>
                            <article class="message" v-for="attachment in primaryFileData.attachments">
                                <div class="message-header">
                                    <p>${ attachment.file_name }</p>
                                    <button class="delete" aria-label="delete"></button>
                                </div>
                                <div class="message-body">
                                    <div class="field is-horizontal" v-for="(value, hash) in attachment.hash">
                                        <label class="label">${ hash } : </label>
                                        <p>${ value }</p>
                                    </div>
                                    <div class="content" v-if="(attachment.file_name.endsWith('docx') || attachment.file_name.endsWith('doc')) && attachment.macros">
                                        <button class="button is-info is-outline" v-on:click="styleActive.display = 'block'">Embedded VBA</button>
                                        <macro :macroiocs="attachment.macros" :style="styleActive" @show-vba="styleActive.display = 'none'"></macro>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!--Docx Body URLs-->

                    <!--Docx/Doc Macro-->
                    <div class="content" v-if="(primaryFileData.file_type === 'docx' || primaryFileData.file_type === 'doc') && primaryFileData.macro_iocs">
                        <button class="button is-info is-outline" v-on:click="styleActive.display = 'block'">Embedded VBA</button>
                        <macro :macroiocs="primaryFileData.macro_iocs" :style="styleActive" @show-vba="styleActive.display = 'none'"></macro>
                    </div>
                 </div>
            </section>

        </div>
    </div>

    <!--VueJS Script-->
    <script>

        Vue.component('macro', {
            template: '<div class="content"><div class="modal is-active"><div class="modal-background"></div><div class="modal-card"><header class="modal-card-head"><p class="modal-card-title">IOCs from Embedded VBA</p><button class="delete" aria-label="close"></button></header><section class="modal-card-body"><table class="table" id="macro"><thead><tr><th>Type</th><th>Keyword</th><th>Description</th></tr></thead><tbody><tr v-for="macroioc in macroiocs"><td>${ macroioc.type }</td><td>${ macroioc.keyword }</td><td>${ macroioc.description }</td></tr></tbody></table></section><footer class="modal-card-foot"><button class="button is-success" v-on:click="closeVbaPanel()">Done</button></footer></div></div></div>',

            delimiters: ['${', '}'],
            props: [
                'macroiocs',
                'viewmacro'
            ],

            data() {
                return {
                    macroioc: {},
                    vbaPane: true
                }
            }, 

            methods: {
                closeVbaPanel() {
                    this.$emit('show-vba', false)
                }
            }
        });


        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                file: '',
                hash: '',
                selectorFileName: null,
                primaryFileData: null,
                url: '',
                viewMacro: false,
                styleActive: {
                    display: 'none'
                },
                emlHeadToggle: false
            },

            methods: {
                handleFileUpload() {
                    this.file = this.$refs.file.files[0];
                    this.selectorFileName = this.file.name;
                },

                // To-do - Submit file to server
                submitFile() {

                    let formData = new FormData();


                    formData.append('file', this.file);

                    axios.post('/AnalyzeFile',
                        formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(response => {
                        console.log(response.data);
                        fileData = response.data[this.selectorFileName]
                        this.primaryFileData = {
                            "file_name": this.selectorFileName,
                            "file_type": fileData.file_type
                        }
                        fileType = this.primaryFileData.file_type
                        if (fileType === "eml") {
                            this.primaryFileData["attachments"] = fileData.email_data.attachments
                            this.primaryFileData["body_urls"] = fileData.email_data.body_urls
                            this.primaryFileData["headers"] = fileData.email_data.headers

                        } else if (fileType === "docx") {
                            this.primaryFileData["body_iocs"] = fileData.body_iocs
                            this.primaryFileData["macro_iocs"] = fileData.macro_iocs

                        } else if (fileType === "doc") {
                            this.primaryFileData["macro_iocs"] = fileData.macro_iocs
                        }
                    })
                        .catch(error => {
                            console.log(error);
                        });
                },
            }
        })
    </script>
</body>

<style>
    .button {
        margin-left: 5px;
    }

    .container {
        margin-top: 5px;
    }

    .section {
        padding: 1rem 1.5rem;
    }

    .subtitle.is-4 {
        border-bottom: solid #e6e6e6 1.5px;
    }

    .label {
        margin-right: 5px;
    }

    #genericTable {
        width: 50%;
        margin-bottom: 5px;
    }

    .modal-card {
        width: 60%;
    }

    .content ul {
        list-style: none;
        margin-left: 0em;
        margin-top: 0em;
    }
</style>

</html>