<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Doc Scan</title>

    <!--Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />

    <!-- Vue JS Production-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- Vue JS Dev-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <h1 class="title is-1">Doc Scanner</h1>
        <div class="field is-horizontal">
            <div class="file has-name">
                <label class="file-label">
                    <input class="file-input" type="file" ref="file" v-on:change="handleFileUpload()">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                    <span class="file-name">${ filename }</span>
                </label>
            </div>
            <button class="button" v-on:click="submitFile()">Upload</button>
        </div>
    </div>

    <!--VueJS Script-->
    <script>
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',

            data: {
                file: '',
                filename: "No file selected",
            },

            methods: {
                handleFileUpload() {
                    this.file = this.$refs.file.files[0];
                    this.filename = this.file.name;
                },

                // To-do - Submit file to server
                submitFile() {

                    let formData = new FormData();


                    formData.append('file', this.file);

                    axios.post('/AnalyzeFile',
                        formData,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                    ).then(response => {
                        console.log(response.data);
                    })
                        .catch(error => {
                            console.log(error);
                        });
                },
            }
        })
    </script>
</body>

<style>
    .button {
        margin-left: 5px;
    }
</style>

</html>